@model UserWebClient.Models.HomeCartViewModel

@{
    ViewBag.Title = "HomeCart";
    ViewBag.Description = "";
}
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="~/Content/custom.css">
</head>
<body>
    <div class="container body-content">
        <div id="cart" data-bind="visible: cart().length > 0">
            <h1 class="marine-h1">Your Cart</h1>


            <table class="table">
                <thead>
                <th>Name</th>


                <th>Quantity</th>


                <th>Price</th>


                <th>Actions</th>


                </thead>
                @if (Model != null)
                {
                    <tbody>
                        @foreach (var item in Model.Order.ItemsList)
                        {
                            <tr>
                                <td>@item.LineItem.Name</td>
                                <td>@item.Quantity</td>
                                <td>@item.LineItem.Price.VarPrice</td>
                                <td>@item.LineItem.Id</td>
                                <td>
                                    @Html.ActionLink("Remove", "Delete", "ShoppingCart", new { itemId = item.LineItem.Id }, new { @class = "btn btn-danger col-md-5 col-md-offset-2" })
                                </td>
                            </tr>
                        }
                    </tbody>
                }

            </table>
        <form action="/ShoppingCart/Charge" method="POST">
            <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                    data-key="pk_test_B1gT8lUgILfjMzgZHOvmOPx5"
                    data-amount= @Model.TotalPrice
                    data-name="Just Feast"
                    data-description="Pay for an order"
                    data-image="https://i.imgur.com/vlF0Rc7.png"
                    data-locale="auto"
                    data-currency="dkk">
            </script>
        </form>
    </div>
</div>
</body>