@model ModelLibrary.Order
  
   

@{
    ViewBag.Title = "HomeCart";
    ViewBag.Description = "";
   

}


<div id="cart" class="float-right" data-bind="visible: cart().length > 0">
    <h1>Your Cart</h1>

   
        <table class="table">
            <thead>
            <th>Name</th>


            <th>Quantity</th>


            <th>Price</th>


            <th>Actions</th>


            </thead>
            @if (Model != null)
            {
                <tbody>
                    @foreach (var item in Model.ItemsList)
                    {
                        <tr>
                            <td>@item.LineItem.Name</td>
                            <td>@item.Quantity</td>
                            <td>@item.Price</td>
                            <td>
                                @Html.ActionLink("Delete", "HomeCart", "ShoppingCart", new { Id = item.LineItem.Id}, new { @class = "btn btn-danger col-md-5 col-md-offset-2" })
                            </td>



                            <td>
                                @Html.ActionLink("HomeCart", "HomeCart", "ShoppingCart",
                                    new { itemId = item.LineItem.Id }, new {@class = "btn btn-info"})
                            </td>


                        </tr>
                    }
                </tbody>
            }

        </table>


   </div>