@using System.Web.Configuration
@model UserWebClient.Models.RestaurantOrderModel

@{
    ModelLibrary.Restaurant restaurant = (ModelLibrary.Restaurant) Session["Restaurant"];
    ViewBag.Title = restaurant.Name;
}

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="~/Content/custom.css">
</head>

<div class="jumbotron">
    <h1 class="marine-h1">@ViewBag.Title</h1>
</div>
<div class="container body-content">
    <div class="row">
        <div class="col-md-3">
            @{Session["Restaurant"] = restaurant;}
            @Html.ActionLink("Reserve Table", "ReserveTable", "Restaurant", Model, new {@class = "btn btn-danger"})
        </div>
        <div class="col-md-9">
            <table class="table">
                <thead>
                <th>@Html.DisplayNameFor(model => restaurant.Menu.Items)</th>
                <th>@Html.DisplayNameFor(model => restaurant.Menu.Items.First().Price)</th>
                <th>Add to Cart</th>
                </thead>
                <tbody>
                    @foreach (var item in restaurant.Menu.Items)
                    {
                        <tr>
                            <td>@item.Name</td>
                            <td>@item.Price.VarPrice</td>
                            <td>
                                @if (Session["orderId"] == null)
                                {
                                    <p>Reserve a table to add items</p>
                                }
                                else
                                {
                                    Html.ActionLink("Add to cart", "HomeCart", "Restaurant",
                                        new
                                        {
                                            resId = restaurant.Id,
                                            orderId = Convert.ToInt32(Session["orderId"]),
                                            itemId = item.Id
                                        }, new { @class = "btn btn-info" });
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

