@using Microsoft.AspNet.Identity
@if (HttpContext.Current.Session["customerId"] != null)
{
    using (Html.BeginForm("LogOff", "Login", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Hello " + HttpContext.Current.Session["email"].ToString(), "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Shopping Cart", "HomeCart","ShoppingCart")</li>
        <li>@Html.ActionLink("Register", "Register", "Login")</li>
        <li>@Html.ActionLink("Log in", "Login", "Login")</li>
    </ul>
}
